@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v8/OttjxgcoEsufOGSINYBGLYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url(https://fonts.gstatic.com/s/philosopher/v8/napvkewXG9Gqby5vwGHICP79_ZuUxCigM2DespTnFaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  width: 100%;
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
  background: linear-gradient(to bottom right, silver, black);
  color: white;
}

/*html media queries*/

@media only screen and (max-width: 1024px) {
  html {
    font-size: 2rem;
  }
}

/*Header*/

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-family: "Philosopher", sans-serif;
  color: black;
  border-style: groove;
}

header .school-desktop {
  font-size: 1rem;
  text-align: left;
  font-size: 2rem;
}

.school-desktop img {
  padding-left: 24px;
  height: 2rem;
}

.school-mobile img {
  height: 1.5rem;
}

nav {
  padding-right: 24px;
}

nav ul li{
  display: inline-flex;
  align-items: center;
  height: 4rem;
  text-decoration: underline;
}

a {
  color: black;
}

a:hover {
  color: silver;
}

.campus,
.online,
.companies {
  padding-right: 1rem;
}

/*Header Media Queries*/

@media only screen and (min-width: 1039px) {
  .school-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {

  header {
    border: none;
  }

  .school-mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .school-desktop {
    display: none;
  }

  nav ul li {
    display: none;
  }
}

/*Jumbotron*/

.jumbotron {
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
  border: groove;
  border-top: none;
}

.jumbotron img {
  width: 60%;
}

.jumbotron .text {
  padding-left: 1.5rem;
}

.text h1,
.text h4 {
  text-align: left;
}

.button {
  background-color: black;
  border-radius: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button h5 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button a {
  color: white;
}

/*Jumbotron Media Queries*/

@media only screen and (max-width: 1024px) {
  .jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem;
    border: none;
  }

  .jumbotron img {
    width: 100%;
    margin: 0%;
    border-radius: 1rem;
  }

  .jumbotron .text {
    padding: 2rem 1rem;
  }

  .text h1 {
    padding-bottom: 2rem;
  }

  .text h4 {
    padding-bottom: 1.5rem;
  }
}

/*Middle*/

.middle {
  display: flex;
  align-content: center;
  justify-content: center;
}

.practice {
  width: 60%;
  margin-left: 1.5rem;
}

.practice img {
  margin-top: 0%;
  width: 100%;
  margin-right: 1.5rem;
  padding-top: 4rem;
}

.practice h2 {
  padding-top: 2rem;
  text-align: left;
  padding-left: 1.5rem;

}

.practice p {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

footer {
  padding-bottom: 4rem;
  padding-left: 1.5rem;
}

.events {
  width: 40%;
  margin-left: 1.5rem;
  margin-top: 4rem;
  padding-top: 1rem;
  background-color: silver;
  color: black;
}

.events .orientation-desktop {
  display: flex;
  align-items: flex-start;
}

.description {
  margin-top: 1rem;
  width: 65%;
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  align-content: center;
}

.orientation-desktop img {
  width: 35%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.orientation-desktop .description {
  margin-top: 0rem;
}

.orientation-desktop h4,
.orientation-desktop p {
  margin-top: 0%
}

.events .campus-desktop {
  display: flex;
  align-items: flex-start;
}

.campus-desktop img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.campus-desktop h4,
.campus-desktop p {
  margin-top: 0%
}

.events .lecture-desktop {
  display: flex;
  align-items: flex-start;
  }

.lecture-desktop img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.lecture-desktop h4,
.lecture-desktop p {
  margin-top: 0%
}

.lecture-desktop p {
  padding-top: 0.44rem;
}

#readmore {
  text-decoration: underline;
}

#readmore:hover {
  color: blue;
}

/*Middle Media Queries*/

@media only screen and (min-width: 1039px) {
  .orientation-mobile {
    display: none;
  }

  .campus-mobile {
    display: none;
  }

  .lecture-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px)
{

  .practice {
    display: none;
  }

  .events {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .orientation-desktop img {
    display: none;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .campus-desktop img {
    display: none;
    width: 100%;
    padding-top: 4rem;
  }

  .lecture-desktop img {
    display: none;
    width: 100%;
    padding-top: 4rem;
}

  .orientation-mobile,
  .campus-mobile,
  .lecture-mobile {
    background-color: silver;
  }

  .orientation-mobile img,
  .campus-mobile img,
  .lecture-mobile img {
    border-radius: 1rem;
  }

  .orientation-desktop .description {
    display: none;
    padding-left: 1rem;
  }

  .campus-desktop .description {
    display: none;
    padding-left: 1rem;
  }

  .lecture-desktop .description {
    display: none;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

}

/*Learning*/

.learning {
  border-style: groove;
  margin-top: 2rem;
}

.learning .courses {
  padding-left: 4.5rem;
  margin-right: 4.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.learning .courses2 {
  padding-left: 4.5rem;
  margin-right: 4.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.courses img,
.courses h4
.courses h6
.courses p {
  height: auto;
  width: 266.3px;
  padding-right: 2rem;
  margin-top: 1rem;
  padding-left: 2rem;
}

.courses2 img,
.courses2 h4
.courses2 h6
.courses2 p {
  height: auto;
  width: 266.3px;
  padding-right: 2rem;
  margin-top: 1rem;
  padding-left: 2rem;
}

.learning h4,
.learning h6,
.learning p {
  padding-left: 1rem;
  color: black;
  padding-left: 2rem;
}

.learning h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.learning h4 {
  padding-top: 1rem;
}

.learning h6 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.learning p {
  padding-bottom: 1.5rem;
}

.engineering,
.art,
.design,
.data,
.business,
.marketing {
  background-color: silver;
}

.engineering,
.art,
.data,
.business {
  margin-right: 1rem;
}



/*Learning Media Queries*/

@media only screen and (min-width: 1039px) {
  .engineering,
  .art,
  .design,
  .data,
  .business,
  .marketing {
    background-color: silver;
  }

  .engineering,
  .art,
  .data,
  .business {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1024px) {

  .learning {
    border: none;
  }

  .learning .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
  }

  .learning .courses2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
  }

  .learning img,
  .learning h6,
  .learning p {
    display: none;
  }

  .learning h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .engineering,
  .art,
  .design,
  .data,
  .business,
  .marketing {
    display: flex;
    margin-bottom: 0.5rem;
    background-color: silver;
    width: 100%;
    justify-content: center;
    height: auto;
    border-style: outset;
    margin-right: 0rem;
  }

  .engineering h4,
  .art h4,
  .design h4,
  .data h4,
  .business h4,
  .marketing h4 {
    text-align: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    color: black;
  }

}

/*Exhibit*/

.exhibit-body {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.exhibit h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.left {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 60%;
}

.left video {
  padding-bottom: 1.5rem;
  width: 100%;
  height: auto;
}

.left h4 {
  padding-bottom: 0.5rem;
}

.left p {
  padding-bottom: 2rem;
  width: 100%;
}

.right {
  width: 40%;
  padding-top: 0%;
}

.right img {
  padding: 1rem;
  width: 35%;
  height: auto;
}

.right .description {
  width: 65%;
}

.prototype {
  display: flex;
  align-items: center;
  background-color: silver;
  color: black;
  margin-bottom: 0.5rem;
}

.prototype .description {
  display: flex;
}

.then {
  display: flex;
  align-items: center;
  background-color: silver;
  color: black;
}

.then .description {
  display: flex;
}

/*Exhibit Media Queries*/

@media only screen and (max-width: 1024px) {
  .exhibit-body {
    width: 100%;
  }

  .left {
    width: 100%;
    padding: 0rem;
  }

  .exhibit .right,
  .exhibit img,
  .exhibit h4,
  .exhibit p {
    display: none;
  }

  .exhibit h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

  video {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

/*Footer*/

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer .terms {
  display: flex;
}

.terms {
  padding-right: 1.5rem;
}

.terms p {
  padding-left: 1rem;
}

/*Footer Medica Queries*/

@media only screen and (max-width: 1024px) {
  .footer .terms {
    display: none;
  }

  .footer .copyright {
    padding: 1rem;
    font-size: 14px;
  }
}
